@font-face {
  font-family: 'Prosto One';
  src: url(./fonts/ProstoOne-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Thin.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*::before,
*::after {
  box-sizing: border-box;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
:where(dd[class]) {
  margin-block: 0;
}
:where(ul[class]) {
  list-style: none;
}
img {
  display: block;
  min-width: 100%;
}
input,
textarea,
select,
button {
  font: inherit;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
