/* Шрифты (папка fonts) */
@font-face {
  font-family: 'Prosto One';
  src: url(./fonts/ProstoOne-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Thin.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Нормализация стилей */
*::before,
*::after {
  box-sizing: border-box;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  font-weight: normal;
  margin-block: 0;
}
:where(dd[class]) {
  margin-block: 0;
}
:where(ul[class]) {
  list-style: none;
}
img {
  display: block;
  /* min-width: 100%; */
}
input,
textarea,
select,
button {
  font: inherit;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Переменные */
:root {
  --font-family-base: 'Prosto one', sans-serif;
  --font-family-accent: 'Montserrat', sans-serif;

  --color-black: #000;
  --color-white: #fff;

  --color-blue-substrate: #213140;
  --color-blue-main: #73a2bf;
  --color-blue-accent: #f9f9ff;

  --color-dark-substrate: #1a1e26;
  --color-dark-main: #6e7371;
  --color-dark-accent: #a1a69c;

  --color-light-substrate: #fffafa;
  --color-light-main: #e8e8e8;
  --color-light-accent: #e2e8e7;

  --border-radius: 20px;

  --shadow-logo: 3px 3px 10px rgba(0, 0, 0, 0.5);
  --shadow-grid: 3px 5px 20px rgba(0, 0, 0, 0.7);
  --shadow-positive-contacts: 3px 3px 12px rgba(0, 0, 0, 0.5);
  --shadow-negative-contacts: -3px -3px 12px rgba(249, 249, 255, 0.2);
}

.visually-hidden {
  display: none;
}

/* ну погнали 1rem = 16px */
body {
  max-height: 100vh;
  max-width: 100vw;
  font-family: var(--font-family-base);
  background-color: var(--color-substrate);
  display: grid;
  grid-template-rows: 13vh 52vh 15vh 13vh;
  grid-template-columns: 35vw 10vw 23vw 28vw;
  gap: 20px;
}
header {
  background-color: var(--color-main);
  grid-row: 1;
  grid-column: 1 / 5;
  margin: 20px 20px 0 20px;
}
.greeting {
  background-color: var(--color-main);
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin-left: 20px;
}
.photo {
  background-color: var(--color-accent);
  place-content: center;
}
.skills {
  background-color: var(--color-main);
  grid-row: 2 / 4;
  grid-column: 4 / 5;
  margin-right: 20px;
}
.portfolio {
  background-color: var(--color-main);
  grid-row: 3 / 5;
  grid-column: 1 / 2;
  margin: 0 0 20px 20px;
}
.cv {
  background-color: var(--color-accent);
  grid-row: 3 / 5;
  grid-column: 2 / 4;
  margin-bottom: 20px;
}
.contacts {
  background-color: var(--color-main);
  margin: 0 20px 20px 0;
}
header,
.greeting,
.photo,
.skills,
.portfolio,
.cv,
.contacts {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-grid);
  transition: scale 0.2s ease;
}
.greeting:hover,
.photo:hover,
.skills:hover,
.portfolio:hover,
.cv:hover,
.contacts:hover {
  scale: 1.007;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  position: relative;
}
.logo {
  border: none;
  border-radius: 50%;
  box-shadow: var(--shadow-logo);
}
.color-settings {
  position: absolute;
  right: 20px;
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  overflow: hidden;
  box-shadow: var(--shadow-logo);
  transition: width 0.4s ease;
}
.color-settings:hover {
  width: 126px;
  padding-left: 14px;
}
.color-settings-selected {
  position: absolute;
  right: 0;
}
.color-settings button {
  padding: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--color-black);
  cursor: pointer;
  transition: scale 0.3s ease;
}
.color-settings button:hover {
  scale: 1.1;
}
.color-settings-blue {
  background-color: var(--color-blue-substrate);
}
.color-settings-light {
  background-color: var(--color-light-substrate);
}
.color-settings-dark {
  background-color: var(--color-dark-substrate);
}
/* .lang-settings {
  position: absolute;
  right: 20px;
  background-color: var(--color-blue-accent);
  height: 36px;
  width: 36px;
  border-radius: 18px;
  transition: width 0.4s ease;
  display: flex;
  align-items: center;
  column-gap: 8px;
  box-sizing: border-box;
  padding-left: 12px;
  overflow: hidden;
  box-shadow: var(--shadow-logo);
}
.lang-settings-selected {
  position: absolute;
  right: 0;
  width: 36px;
} */
/* .lang-settings:hover {
  width: 110px;
}
.lang-settings button {
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  transition: scale 0.3s ease;
}
.lang-settings button:hover {
  cursor: pointer;
  scale: 1.1;
} */

.greeting {
  color: var(--color-accent);
  padding: 50px 40px;
}
.greeting-welcome {
  font-size: 40px;
  margin-bottom: 10px;
}
.greeting-message {
  font-family: var(--font-family-accent);
  font-size: 26px;
  text-align: justify;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-substrate);
}

.skills {
  color: var(--color-accent);
  padding: 20px;
}
.skills-soft {
  margin-top: 10px;
}
.skills-hard-top,
.skills-soft-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5px;
  user-select: none;
}
.skills-hard-header,
.skills-soft-header {
  font-size: 34px;
}
.skills-hard-button,
.skills-soft-button {
  padding: 0;
  width: 30px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  transition: scale 0.2s ease;
  transition: transform 0.3s ease;
}
.skills-hard-button:hover,
.skills-soft-button:hover {
  cursor: pointer;
  scale: 1.03;
}
.skills-hard-divider,
.skills-soft-divider {
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.5s ease;
}
.skills-hard-list,
.skills-soft-list {
  font-family: var(--font-family-accent);
  font-size: 20px;
  color: var(--color-main);
  padding-left: 30px;
}
.skills-soft-list {
  padding-right: 20px;
}
.skills-hard-element {
  position: relative;
}
.skills-hard-element:not(:last-child),
.skills-soft-element:not(:last-child) {
  margin-bottom: 10px;
}
.skills-hard-element::before {
  content: url('./imgs/icons/skills-list-rect.svg');
  position: absolute;
  left: -20px;
  bottom: 4px;
}
.skills-soft-element {
  position: relative;
}
.skills-soft-element::before {
  content: url('./imgs/icons/skills-list-rect.svg');
  position: absolute;
  left: -20px;
  top: -4px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 22px;
}
.slide {
  width: 340px;
  height: auto;
  display: none;
  border-radius: 10px;
  box-shadow: var(--shadow-positive-contacts);
}
.slide.displaySlide {
  display: block;
}
.slide-wrapper {
  position: relative;
  cursor: pointer;
}
.slide {
  transition: opacity 0.1s ease;
}
.slide-wrapper:hover .slide {
  opacity: 0.1;
}
.slide-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  width: 100%;
}
.slide-wrapper:hover .slide-title {
  opacity: 1;
  pointer-events: auto;
}
/* .slide-title:hover {
  text-decoration: underline;
} */
.prev,
.next {
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.prev:hover,
.next:hover {
  scale: 1.03;
}

.cv {
  padding: 20px 50px;
}
.cv-message {
  font-size: 34px;
  padding-left: 40px;
}
.cv hr {
  margin: 10px 0 0;
  border: none;
  height: 3px;
  border-radius: 2px;
  background-color: var(--color-substrate);
}
.cv div {
  font-family: var(--font-family-accent);
  padding-inline: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 20px;
}
.cv div p {
  margin: 0;
  font-size: 20px;
}
.cv div img {
  width: 36px;
  height: 36px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.contact-wrapper {
  width: 55px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-main);
  transition: box-shadow 0.4s ease;
}
.contact-wrapper:hover {
  cursor: pointer;
  box-shadow: var(--shadow-positive-contacts);
  box-shadow: var(--shadow-negative-contacts);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  background-color: var(--color-accent);
  width: 80%;
  max-width: 750px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#modal-text {
  font-family: var(--font-family-base);
  color: var(--color-substrate);
  font-size: 24px;
}
#modal-gif {
  margin-bottom: 20px;
}
#modal-url {
  font-family: var(--font-family-accent);
  color: var(--color-substrate);
  font-size: 18px;
  margin-block: 20px;
}
#modal-url:hover {
  color: var(--color-main);
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: black;
}
.close:hover {
  color: red;
}
